body {
    background-color: white;
  
    margin: 20px;
  }
  
  @keyframes introMove{
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  h1 {
    font-size: 45px;
    text-align: center;
    color: black;
    opacity: 0;
  
    padding: 10px;
    margin: 10px;
    
  
    animation: introMove 1s linear;
    animation-fill-mode: forwards;
  }
  
  #introduction {
    font-size: 20px;
    text-align: center;
    color: black;
    opacity: 0;
  
    border-bottom: 10px;
    padding: 10px;
    margin: 10px;
  
    animation: introMove 1s linear;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
  }
  
  /*----------------------------------Grid----------------------------------*/
  
  
  
  #grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    
    grid-column-gap: 20px;
    padding: 20px;
  }
  
  .gridElements {
    text-align: center;
    font-size: 20px;
    color: black;
    opacity: 0;
  
    padding-top: 20%;
    padding-bottom: 10%;
    margin: 10px;
  
    animation: introMove 1s linear;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  
    cursor: pointer;
    
    transition: box-shadow 0.3s;
  
  }
  
  .gridElements:hover{
    box-shadow: 10px 10px 5px grey;
  }
  
  .gridElements .words{
    position: relative;
    
    height: 100px;
    
    top: -50px;
  }
  
  .gridElements .arrow {
    position: relative;
    background-color: skyblue;
  
    width: 100%;
    height: 40px;
  
    top: 0;
  }
  
  #present .lightFlex{
    display: inline-flex;
    position: absolute;
    top: -25px;
    left: 0px;
  }
  
  #present .lights{
    display: none;
    background-color: orange;
    width: 6px;
    height: 10px;
    border-radius: 0% 0% 40% 40%;
  }
  
  #present .lightFlex :nth-child(1) {
    transform: translateX(-15px) translateY(7px) rotate(140deg);
  }
  #present .lightFlex :nth-child(2) {
    transform: rotate(180deg);
  }
  #present .lightFlex :nth-child(3) {
    transform: translateX(15px) translateY(7px) rotate(-140deg);
  }
  
  
  /*----------------------------walkingman--------------------------------*/
   .body{
      background-color: #1E90FF;
    }
    
    .arm_and_leg{
      position: absolute;
    
      width: 8px;
      height: 30px;
      border-radius: 0% 0% 35% 35%;
    }
    
    #mainBody{
      position: relative;
    
      width: 20px;
      height: 35px;
      border-radius: 35%;
      margin: 0;
     
      left: 45%;
      top: -10px;
  
      display: block;
  
    }
      
  
    
    #head{
      position: absolute;
    
      width: 20px;
      height: 20px;
      border-radius: 100%;
    
      top: -15px;
    }
    
    #arm1{
      top: -5px;
      left: 0px;
      transform: rotate(40deg);
    
    }
    
    #arm2{
      top: -5px;
      right: 0px;
      transform: rotate(-40deg);
    
    }
    
    #leg1{
      top: 20px;
      left: 0px;
      transform: rotate(30deg);
  
    }
    
    #leg2{
      top: 20px;
      right: 0px;
      transform: rotate(-30deg);
    
    }
  
  /*--------------------------------Bottom--------------------------------*/
  
  #bottom{
    opacity: 0;
  
    animation: introMove 1s linear;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;
  }
  
  
  /*------------------------------Modals----------------------------------*/
  
  #pastModal,
  #presentModal,
  #futureModal{
    visibility: hidden;
    display: block;
    opacity: 0;
  
    transition: visibility 0.3s, opacity 0.2s linear;
  }
  
  .modal{
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top:0;
  
    width: 100%;
    height: 100%;
    
    overflow: auto;
  
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content{
    background-color: white;
    color: black;
  
    margin: 50px auto;
    padding: 20px;
    border: 1px solid black;
  
    width: 40%;
    height: auto;
  
  }
  
  .close{
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus{
    color: red;
    text-decoration: none;
    cursor: pointer;
  }